.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  height: 100px;
  width: 50px;
  cursor: pointer;
}

.card.selected {
  background-color: yellow;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.field {
  color: white;
  display: flex;
  background-color: green;
}

.placeholder-outer {
  text-align: center;
}

.placeholder {
  border: 5px solid white;
  border-radius: 20px;
  width: 150px;
  height: 250px;
}


@import url('https://fonts.googleapis.com/css?family=Pacifico');

.placeholder + figcaption {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
}